<settings>
	<activeProfiles>
		<activeProfile>external-repositories</activeProfile>
	</activeProfiles>
	<profiles>
		<profile>
			<id>external-repositories</id>
			<repositories>
				<repository>
					<id>Eclipse 4.25</id>
					<layout>p2</layout>
					<url>https://download.eclipse.org/eclipse/updates/4.25/</url>
				</repository>
				<repository>
					<id>Eclipse Orbit</id>
					<layout>p2</layout>
					<url>https://download.eclipse.org/eclipse/updates/4.25/R-4.25-202208311800/
					</url>
				</repository>
			</repositories>
		</profile>
	</profiles>
</settings>

